
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* Calculator Container */
#calculator {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.08);
    padding: 22px;
    border-radius: 20px;
    height: 550px;
    width: 500px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}

/* Display */
#display {
    width: 100%;
    height: 90px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    padding: 12px;
    text-align: right;
    background: rgba(0,0,0,0.6);
    color: #00ffe0;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 buttons per row */
    gap: 12px;
}

button {
    padding: 18px;
    font-size: 1.5rem;
    font-weight: 550;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(166, 244, 254);
    transition: all 0.2s ease;
}

button:hover {
    background: rgba(255,255,255,0.2);
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.95);
}

/* Operator Buttons */
button:nth-child(4n), /* Select every 4th button */
button:nth-child(1), /* Select the first button inside .buttons */ 
button:nth-child(2) {
    background: rgba(255, 165, 0, 0.3);
    color: #ffb347;
}

/* Equal Button */
.equal {
    background: #00ffe0;
    color: black;
    font-weight: bold;
    grid-row: span 2;
}

.equal:hover {
    background: #00c9b7;
}

/* Responsive */
@media (max-width: 42em) {
    .calculator {
        width: 90%;
        height: 60%;
        padding: 20px;
    }

    #display {
        font-size: 22px;
    }

    button {
        padding: 15px;
        font-size: 23px;
    }
}

